/* style.css */
* {
  box-sizing: border-box;
  border: thin solid black;
}

 html, body { margin: 0; height: 100%;}

.fila {
  height: 33.3333%;
}

.cell{
  width: 33.3333%;
  float: left;
  height: 100%;
}
